@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #003227;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.scroll-blur {
  overflow: hidden;
  /* Hide the content outside the container */
}

.scroll-blur:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  /* Allow scroll through */
  background-image: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0);
  /* Initial blur value */
  transition: filter 0.5s;
  /* Transition duration */
}

::selection {
  background-color: #285347;
  color: #fff;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #002b20;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #285347;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Navbar */

.navbar-title {
  color: white;
  text-align: left;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  position: absolute;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 30px;
  top: 30px;
  left: 75px;
  user-select: none;
}

ul.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003227;
  margin-top: 30px;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: opacity 0.3s ease;
}

ul.navbar li a:hover {
  opacity: 80%;
}

.workshop-button {
  background-color: #285347;
  color: white;
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 10px;
  position: absolute;
  top: 30px;
  right: 75px;
  text-decoration: none;
  transition: transform 0.3s;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

.workshop-button:hover {
  transform: scale(1.05);
}


/* Hero Section */
.hero-title {
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 46px;
  margin: 0 auto;
  margin-top: 125px;
  max-width: 50rem;
  user-select: none;
}

.hero-subtitle {
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 40rem;
  user-select: none;
}

.hero-scroll {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  transition: transform 0.3s ease;
  user-select: none;
}

.hero-scroll:hover {
  transform: scale(1.05);
}


.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 91.72rem;
  max-height: 45.01rem;
  height: 100%;
  margin: 0 auto;
  margin-top: -22.5rem;
  user-select: none;
  position: relative;
  z-index: -10;
  transform: scale(1.2);
}

/* Bottom Hero Section */
.bottom-hero {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 70rem;
  margin: 0 auto;
  margin-top: 65px;
  user-select: none;
}

.bottom-hero-title {
  /* color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -800px; */
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 40px;
  flex: 0 0 400px;
  user-select: none;
}

.bottom-hero-subtitle {
  /* color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: regular;
  font-size: 20px;
  margin-top: -190px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 500px; */
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  flex: 1 0 0;
  user-select: none;
}

/* Socials */

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  user-select: none;
}

.socials li {
  margin: 0 5px;
  margin-top: 8px;
  transition: transform 0.3s ease;
}

.socials li:hover {
  transform: scale(1.15);
}

/* Projects */

.container {
  background-color: #002b20;
  width: 100%;
  text-align: center;
}

.projects {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container {
  text-align: center;
}

.projects-title {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-top: 100px;
  user-select: none;
}

.projects-content {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  justify-items: center;
  width: 70rem;
  margin: 0 auto;
}

.obscura {
  min-width: 260px;
  padding: 45px 30px;
  width: 100%;
  background-color: #003227;
  border-radius: 18px;
  transition: transform 0.2s ease;
}

.obscura:hover {
  transform: scale(1.03);
  user-select: none;
}

.lumi {
  min-width: 260px;
  padding: 45px 30px;
  width: 100%;
  background-color: #003227;
  border-radius: 18px;
  transition: transform 0.2s ease;
}

.lumi:hover {
  transform: scale(1.03);
  user-select: none;
}

.project-header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.obscura-avatar {
  width: 50px;
}
.obscura-heading {
  text-align: left;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-left: -10px;
}

.obscura-about {
  margin: 0;
  margin-top: 6px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: left;
}

.lumi-avatar {
  width: 50px;
}

.lumi-heading {
  text-align: left;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-left: -10px;
}

.lumi-about {
  margin: 0;
  margin-top: 6px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: left;
}

.mitten,
.netcord-articles {
  min-width: 260px;
  padding: 45px 30px;
  width: 100%;
  background-color: #003227;
  border-radius: 18px;
  margin-top: 2px;
  transition: transform 0.2s ease;
}

.mitten:hover {
  transform: scale(1.03);
  user-select: none;
}

.netcord-articles:hover {
  transform: scale(1.03);
  user-select: none;
}

.netcord-articles-avatar {
  width: 50px;
}

.netcord-articles-heading {
  text-align: left;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-left: -10px
}

.netcord-articles-about {
  margin: 0;
  margin-top: 12px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: left;
}

.mitten-avatar {
  width: 50px;
}

.mitten-heading {
  text-align: left;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-left: -10px;
}

.mitten-about {
  margin: 0;
  margin-top: 12px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: left;
}

.bottom-heading {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-top: 100px;
  user-select: none;
}

.bottom-paragraph {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  margin-top: -25px;
  user-select: none;
}

.contact-button {
  background-color: #285347;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-family: "Poppins", sans-serif;
  margin-bottom: 150px;
  transition: transform 0.3s ease;
  user-select: none;
}

.contact-button:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 1210px) {
  .bottom-hero {
    width: 60rem;
    gap: 20px;
  }
  .bottom-hero-subtitle {
    font-size: 17px;
  }
  .projects-content {
    width: 60rem;
  }
}
@media screen and (max-width: 1024px) {
  .bottom-hero {
    width: 100%;
    padding: 0 50px;
    gap: 0px;
  }
  .bottom-hero-title {
    font-size: 30px;
    flex: 0 0 300px;
  }
  .bottom-hero-subtitle {
    font-size: 15px;
  }
  .projects-content {
    width: 100%;
    padding: 0 50px;
  }
}
@media screen and (max-width: 852px) {
  .bottom-hero {
    flex-direction: column;
  }
  .hero-image {
    display: block;
    margin-top: -12rem;
  }
  .hero-subtitle {
    font-size: 15.5px;
  }
  .bottom-hero-title {
    width: 100%;
    flex: 0 0 auto;
  }
  .bottom-hero-subtitle {
    margin-top: 0;
    font-size: 16px;
  }
  .projects-content {
    padding: 0 15px;
  }
  /* .bottom-section {
    padding: 0 10px;
  } */
  .bottom-paragraph {
    padding: 0 60px;
    margin-top: -20px;
  }
}
@media screen and (max-width: 686px) {

  .navbar-title,
  .workshop-button {
    display: none;
  }
  
  .projects-content {
    grid-template-columns: 1fr;
  }
  .hero-section {
    padding: 0 10px;
  }
  .hero-title {
    margin-top: 60px;
    font-size: 35px;
  }
  .hero-image {
    margin-top: -6.5rem;
  }
  .bottom-hero,
  .projects-content,
  .bottom-section {
    padding: 0 10px;
  }
  .bottom-hero-title {
    padding: 0 15px;
    text-align: center;
  }
  .bottom-hero-subtitle {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: center;
  }
  .socials li {
    flex: 1 1 0;
    user-select: none;
  }
  .socials li img {
    width: 100%;
  }
  .projects-title,
  .bottom-heading {
    font-size: 30px;
  }
  .projects-content {
    padding: 0 10px;
  }
  .obscura,
  .lumi,
  .mitten,
  .netcord-articles {
    padding: 30px 25px;
  }
  .project-header {
    gap: 12px;
  }
  .obscura-avatar,
  .lumi-avatar,
  .mitten-avatar,
  .netcord-articles-avatar {
    width: 40px;
  }
  .obscura-heading,
  .lumi-heading,
  .netcord-articles-heading,
  .mitten-heading {
    font-size: 26px;
    margin-left: -3px;
  }
  .obscura-about,
  .lumi-about,
  .netcord-articles-about,
  .mitten-about {
    margin-top: 15px;
    font-size: 15px;
  }
  .bottom-paragraph {
    margin: 10px 0;
  }
}
